<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="update.css">
    <title>Document</title>
</head>

<body>

    <header>
    </header>

    <main>

        <div class="form-style-10">
            <h1>Edit OBD Malfunction Info</h1>
        <form action="/updateCar/<%= data.id %>?_method=PUT" method="POST">

            <div class="section"><span><div class="dot"></div>

            </span>Malfunction Info</div>
            <div class="inner-wrap">
              <label for="name"> Name </label> <br>
              <input name="code" value="<%= data.code %>"> <br>


              <label for="diagnosis"> Issue</label> <br>
              <textarea name="diagnosis" cols="30" rows="5"><%= data.diagnosis %></textarea> <br>

              <label for="date"> Date </label> <br>
              <input type="text" name="date" value="<%= data.date%>"> <br>            
            </div>

            <div class="button-section">
            <button type="submit"> Update Details </button>
            <form class="deleteForm" action="/updateCar/<%= data.id %>?_method=DELETE" method="POST">
                <button type="submit" class="ud_btn">Remove </button>
            </form>
            </div>

        </form>
    </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>